<dialog #modal class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg">Add Score Ledger item</h3>

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4 mt-4">

      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
        <legend class="fieldset-legend">General</legend>

        <label class="label">Date</label>
        <input formControlName="date" type="date" class="input w-full" placeholder="Date" />
        @if (form.controls.date.errors?.['required'] && formControls.date.touched) {
          <div class="validator-error">Date is required</div>
        }
        @if (!(formControls.date.errors?.['required'])
        && formControls.date.touched)
        {
          <div class="validator-touched-ok">&nbsp;</div>
        }
        @if (!formControls.date.touched)
        {
          <div class="validator-untouched">&nbsp;</div>
        }


        <label class="label">Scout</label>
        <select formControlName="member" class="select select-lg" (change)="onMemberChange($event)">
          @for (member of scouts; track member) {
            @if (selectedMember && member.osmScoutId === selectedMember.osmScoutId) {
              <option [value]="member.osmScoutId" selected>{{member.fullName}}</option>
            }
            @else {
              <option [value]="member.osmScoutId">{{member.fullName}}</option>
            }
          }
        </select>

        <label class="label">Patrol</label>
        <input formControlName="patrol" type="text" email class="input w-full" placeholder="(select a Scout)" />

        <label class="label">Score</label>
        <select formControlName="scoutingScore" class="select select-lg" (change)="onScoutingScoreChange($event)">
          @for (scoutingScore of scoutingScores; track scoutingScore) {
            @if (selectedScoutingScore && scoutingScore.id === selectedScoutingScore.id) {
              <option [value]="scoutingScore.id" selected>{{scoutingScore.name}}</option>
            }
            @else {
              <option [value]="scoutingScore.id">{{scoutingScore.name}}</option>
            }
          }
        </select>

        <label class="label">Score</label>
        <input formControlName="score" type="range" min="-2" max="2"
               class="range purple [--range-bg:purple] [--range-thumb:blue] [--range-fill:0]" />

      </fieldset>


      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
        <legend class="fieldset-legend">Additional</legend>

        <label class="label">Notes</label>
        <textarea class="textarea h-24" formControlName="notes" placeholder="Notes"></textarea>

      </fieldset>

      <div class="modal-action">
        <button type="submit" class="btn btn-primary"
                [disabled]="form.invalid || isBusy()">
          @if (isBusy()) {
            <span class="loading loading-spinner loading-md"></span>
          } @else {
            Create
          }
        </button>
        <button type="button" class="btn" (click)="close()">Cancel</button>
      </div>
    </form>

  </div>


</dialog>
