
<div id="siteHealthCheck" class="card bg-base-100 w-1/2 mx-auto p-10 mt-10 shadow-xl">
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    @if (healthCheckStatus()?.isTooManyRequests) {
      <div class="alert alert-error">
        Too many requests, please try again later.
      </div>
    }
    @else {
      <table class="table w-full">
        <tbody>
          @for (healthCheckItem of healthCheckStatus()?.healthCheckItems; track healthCheckItem) {
            <tr>
              <th>{{ healthCheckItem.friendlyName }}</th>
              <td>
                @if (healthCheckItem.immediateHealthCheckResponse) {
                  <div class="inline-grid *:[grid-area:1/1]">
                    @if (healthCheckItem.immediateHealthCheckResponse.isHealthy) {
                      <div class="status status-success"></div>
                    }
                    @else {
                      <div class="status status-error"></div>
                    }
                  </div>
                }
                @else {
                  <div class="inline-grid *:[grid-area:1/1]">
                    <div class="status status-neutral animate-ping"></div>
                  </div>
                }
              </td>
            </tr>
          }
      </table>
    }

  </div>



</div>
