<div class="overflow-x-auto">
  <form [formGroup]="filterForm" (ngSubmit)="refreshUsersList()">
    <ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
      <li class="divider-right">
        <a (click)="openCreateUserDialog()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          Create
        </a>
      </li>

      <li>
        <label class="input">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>

          <input type="text" placeholder="Containing text" formControlName="containingText" class="grow" />
        </label>

      </li>
      <li>
        <select formControlName="hasRole" class="select" (change)="refreshUsersList()">
          <option disabled selected>Has Role</option>
          @if (roles==null) {
            <span class="loading loading-dots loading-xl text-primary"></span>
          } @else {
            @for (role of roles; track role) {
              <option [value]="role.name">{{ role.name }}</option>
            }
          }
        </select>
      </li>
      <li>
        <select formControlName="hasApplication" class="select" (change)="refreshUsersList()">
          <option disabled selected>Has Application</option>
          @if (applications==null) {
            <span class="loading loading-dots loading-xl text-primary"></span>
          } @else {
            @for (application of applications; track application) {
              <option [value]="application.name">{{ application.name }}</option>
            }
          }
        </select>
      </li>
      <li class="divider-right">
        <a (click)="clearFilters()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </a>
      </li>
      <li>
        <a (click)="openDeleteDialog()" class="btn" [attr.disabled]="selectedUsers().length === 0 ? 'disabled' : null">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
          Delete
          <span class="badge badge-xs badge-warning">{{ selectedUsers().length }}</span>
        </a>
      </li>

    </ul>
  </form>

  @if (errorMessage) {
    <div class="alert alert-error">
      <span>{{ errorMessage }}</span>
    </div>
  }
  @else
  {
    <table class="table">
      <!-- head -->
      <thead>
      <tr>
        <th>

        </th>
        <th>Name</th>
        <th>Email address</th>
        <th>Roles</th>
        <th>Applications</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @if(!pagedUsers) {
          <tr>
            <td class="text-center">
              <div class="skeleton h-2 w-32"></div>
            </td>
            <td  class="text-center">
              <div class="skeleton h-2 w-32"></div>
            </td>
            <td class="text-center">
              <div class="skeleton h-2 w-32"></div>
            </td>
          </tr>
        } @else if(pagedUsers.totalItems === 0) {
          <tr>
            <td colspan="5" class="text-center">No users found</td>
          </tr>
        } @else {
          @for (user of pagedUsers.items; track user.id) {
            <tr>
              <th>
                <label>
                  <input type="checkbox" class="checkbox" (click)="onUserSelected(user.userName)" [checked]="selectedUsers().includes(user.userName)" />
                </label>
              </th>
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      <img src="" alt="Avatar of {{ user.userName }}" />
                    </div>
                  </div>
                  <div>
                    <div>
                              <span class="font-bold">
                                {{ user.userName }}
                              </span>
                      @if (user.passwordLinkExpiresAt!=null)
                      {
                        <span class="badge badge-secondary badge-sm">Awaiting confirmation</span>
                      }
                    </div>
                    <div class="text-sm opacity-50">{{user.firstName}} {{user.lastName}}</div>

                  </div>
                </div>
              </td>
              <td>
                {{ user.emailAddress }}
                <br />
                @if (user.lastLoginAt) {
                  <span class="badge badge-ghost badge-sm">Last login: {{ user.lastLoginAt | date: 'medium' }}</span>
                }
              </td>
              <td>
                @for (role of user.roles; track $index) {
                  <span class="badge badge-neutral badge-sm m-1">{{ role.name }}</span>
                }
              </td>
              <td>
                @for (application of getUserApplications(user); track $index) {
                  <span class="badge badge-neutral badge-sm m-1">{{ application.name }}</span>
                }
              </td>
              <th>
                <button class="btn btn-ghost btn-xs">details</button>
              </th>
            </tr>
          }
        }
      </tbody>
    </table>
    <app-paginator [currentPageNumber]="1" [pagedData]="this.pagedUsers" [maxVisiblePages]="6" (pageChange)="onPageChange($event)"></app-paginator>
  }

</div>


<app-create-user-dialog (created)="onUserCreated($event)"></app-create-user-dialog>
<app-delete-users-dialog (deletionComplete)="onUsersDeleted($event)"></app-delete-users-dialog>

@if (isUserCreated()) {
  <div class="toast toast-end">
    <div class="alert alert-success">
      <span>User {{ isUserCreated()!.userName }} created successfully</span>
    </div>
  </div>
}


@if (isUsersDeleted()) {
  <div class="toast toast-end">
    @if (isUsersDeleted()!.usersSuccessfullyDeleted.length > 0) {
      <div class="alert alert-success">
        @if (isUsersDeleted()!.usersSuccessfullyDeleted.length === 1) {
          <span><strong>{{ isUsersDeleted()!.usersSuccessfullyDeleted.length }}</strong> User deleted successfully</span>
        }
        @else {
          <span><strong>{{ isUsersDeleted()!.usersSuccessfullyDeleted.length }}</strong> Users deleted successfully</span>
        }
      </div>
    }
    @if (isUsersDeleted()!.usersFailedToDelete.length > 0) {
      <div class="alert alert-error">
        @if (isUsersDeleted()!.usersFailedToDelete.length === 1) {
          <span><strong>{{ isUsersDeleted()!.usersFailedToDelete.length }}</strong> User deletion failed</span>
        }
        @else {
          <span><strong>{{ isUsersDeleted()!.usersFailedToDelete.length }}</strong> Users deletions failed</span>
        }
      </div>
  }
  </div>
}
