<div class="overflow-x-auto">
  <form [formGroup]="filterForm" (ngSubmit)="refreshRolesList()">
    <ul class="menu bg-base-200 xl:menu-horizontal w-full rounded-box flex flex-row">
      <li class="pr-2">
        <label class="input">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>

          <input type="text" placeholder="Containing text" formControlName="containingText" class="grow" />
        </label>

      </li>

      <li  class="pr-2">
        <select formControlName="hasApplication" class="select" (change)="refreshRolesList()">
          <option disabled selected>Used in Application</option>
          @if (applications==null) {
            <span class="loading loading-dots loading-xl text-primary"></span>
          } @else {
            @for (application of applications; track application) {
              <option [value]="application.name">{{ application.name }}</option>
            }
          }
        </select>
      </li>
      <li class="divider-right">
        <a (click)="clearFilters()" class="mt-0.5 mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </a>
      </li>
    </ul>
  </form>

  @if (errorMessage) {
    <div class="alert alert-error">
      <span>{{ errorMessage }}</span>
    </div>
  }
  @else
  {
    <table class="table">
      <!-- head -->
      <thead>
      <tr>
        <th>

        </th>
        <th>Name</th>
        <th>Applications</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @if(!pagedRoles) {
          <tr>
            <td class="text-center">
              <div class="skeleton h-2 w-32"></div>
            </td>
            <td class="text-center">
              <div class="skeleton h-2 w-32"></div>
            </td>
          </tr>
        } @else if(pagedRoles.totalItems === 0) {
          <tr>
            <td colspan="5" class="text-center">No roles found</td>
          </tr>
        } @else {
          @for (role of pagedRoles.items; track role.name) {
            <tr>
              <th>
                <label>
                  <input type="checkbox" class="checkbox" (click)="onRoleSelected(role.name)" [checked]="selectedRoles().includes(role.name)" />
                </label>
              </th>
              <td>
                <div class="flex items-center gap-3">
                  <div>
                    <div>
                              <span class="font-bold">
                                {{ role.name }}
                              </span>

                    </div>
                    <div class="text-sm opacity-50">{{role.description}}</div>

                  </div>
                </div>
              </td>

              <td>
                @for (application of getRoleApplications(role); track $index) {
                  <span class="badge badge-neutral badge-sm m-1">{{ application.name }}</span>
                }
              </td>
              <th>
                <button class="btn" (click)="openEditRoleDialog(role)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                  </svg>
                  Manage Users
                </button>
              </th>
            </tr>
          }
        }
      </tbody>
    </table>
    <app-paginator [currentPageNumber]="1" [pagedData]="this.pagedRoles" [maxVisiblePages]="6" (pageChange)="onPageChange($event)"></app-paginator>
  }

</div>

<app-edit-role-dialog (updated)="onRoleUpdated($event)"></app-edit-role-dialog>

@if (isRoleUpdated()) {
  <div class="toast toast-end">
    <div class="alert alert-success">
      <span>Role {{ isRoleUpdated()!.name }} updated successfully</span>
    </div>
  </div>
}


