<div class="flex align-middle ml-auto w-screen">

    <form #profilePhotoForm="ngForm" (ngSubmit)="updateProfilePhoto(profilePhotoForm)" class="flex items-center gap-3 mr-auto ml-auto">

            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
                <legend class="fieldset-legend">Profile image</legend>

                <label class="label">Profile image</label>
                <div class="join">
                    <input type="file" class="file-input" />
                    <button class="btn">Remove</button>

                </div>
                <div class="join">
                    <button class="btn btn-link">Cancel</button>
                    <button class="btn btn-primary w-min">Update</button>

                </div>

        </fieldset>
    </form>
</div>