<dialog #modal class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg">Delete Users</h3>

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4 mt-4">

      @if (usersToDelete.length === 1) {
        <p>This will permanently delete the selected User.</p>
      }
      @else {
        <p>This will permanently delete the <strong>{{ usersToDelete.length }}</strong> selected Users.</p>
      }
      <p>Are you sure you would like to continue?</p>

      @if (isDeleting()) {
        <p>
          <progress class="progress progress-primary w-11/12" value="{{ usersSuccessfullyDeleted.length + usersFailedToDelete.length }} " max="{{usersToDelete.length}}"></progress>
        </p>
      }
      <div class="modal-action">
        <button type="submit" class="btn btn-primary"
                [disabled]="form.invalid || isBusy() || isDeleting()">
          @if (isDeleting()) {
            <span class="loading loading-spinner loading-md"></span>
          } @else {
            Delete
          }
        </button>
        <button type="button" class="btn" (click)="close()">Cancel</button>
      </div>
    </form>


  </div>


</dialog>
