
<div class="flex align-middle ml-auto w-screen">

    @if(isError()) {
        <div role="alert" class="flex items-center gap-3 mr-auto ml-auto alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There was an error getting the user's settings</span>
        </div>
    } @else {
       

        <form #settingsForm="ngForm" (ngSubmit)="updateSettings(settingsForm)" novalidate class="flex items-center gap-3 mr-auto ml-auto">

            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
                
                <legend class="fieldset-legend">Settings</legend>

                @if (isSettingsUpdated())
                {
                    <div role="alert" class="alert alert-success">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>Settings updated successfully</span>
                    </div>
                }

                @if (isSettingsUpdateFailed())
                {
                    <div role="alert" class="flex items-center gap-3 mr-auto ml-auto alert alert-error">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>Updating the settings failed: {{ settingsUpdateFailedErrorMessage() }}</span>
                    </div>
                }

                <label class="label">Theme</label>
                <select class="select" [(ngModel)]="theme" name="theme" required>
                    <option disabled selected>Pick a theme</option>
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                </select>
                

                <div class="join">
                    <button class="btn btn-link" (click)="cancel()">Cancel</button>
                    
                    <button class="btn btn-primary" type="submit" [disabled]="isBusy() || (settingsForm.invalid ?? false)">
                        <span [class.loading]="isBusy()" [class.loading-spinner]="isBusy()"></span>
                        Update
                    </button>
                </div>

            </fieldset>
        </form>
  

    }
</div>