
<div class="flex align-middle ml-auto w-screen">
    <form #loginForm="ngForm" (ngSubmit)="updateProfile()" class="flex items-center gap-3 mr-auto ml-auto">

        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
            <legend class="fieldset-legend">Profile</legend>

            <label class="label">Username</label>
            <input type="text" class="input w-full" placeholder="My awesome page" />

            <label class="label">First name</label>
            <input type="text" class="input w-full" placeholder="my-awesome-page" />

            <label class="label">Last name</label>
            <input type="text" class="input w-full" placeholder="Name" />

            <label class="label">Email address</label>
            <input class="input validator w-full" type="email" required placeholder="mail@site.com" />
            <div class="validator-hint">Enter valid email address</div>

            <label class="label">Profile image</label>
            <div class="join">
                <input type="file" class="file-input" />
                <button class="btn">Remove</button>

            </div>
            <div class="join">
                <button class="btn btn-link">Cancel</button>
                <button class="btn btn-primary w-min">Update</button>

            </div>

        </fieldset>
    </form>
</div>