<div class="flex align-middle ml-auto">
    <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3 mr-auto ml-auto">
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Login</legend>

            @if(loginError()) {
                <!-- Display error message if login fails -->
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>Login was not successful</span>
                </div>
            }   
            <label class="label">Username</label>
            <input [(ngModel)]="username" name="username" type="text" class="input" placeholder="Username" />

            <label class="label">Password</label>
            <input [(ngModel)]="password" name="password" type="password" class="input" placeholder="Password" />

            <button class="btn btn-neutral mt-4" type="submit">
                @if(isLoading()) {
                    <span class="loading loading-spinner"></span>
                } @else {
                    <span>Login</span>    
                }
                
            </button>
        </fieldset>
    </form>
</div>

<app-site-health></app-site-health>
