
<div class="flex align-middle ml-auto w-screen">

    @if(isError()) {
        <div role="alert" class="flex items-center gap-3 mr-auto ml-auto alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There was an error getting the user's password</span>
        </div>
    } @else {
       

        <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)" novalidate class="flex items-center gap-3 mr-auto ml-auto">

            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
                
                <legend class="fieldset-legend">Change password</legend>

                @if (isPasswordChanged())
                {
                    <div role="alert" class="alert alert-success">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>Password changed successfully</span>
                    </div>
                }

                @if (isPasswordChangedFailed())
                {
                    <div role="alert" class="flex items-center gap-3 mr-auto ml-auto alert alert-error">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>Changing password changed: {{ passwordChangedFailedErrorMessage() }}</span>
                    </div>
                }

                <label class="input validator">
                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2.5"
                    fill="none"
                    stroke="currentColor"
                    >
                    <path
                        d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
                    ></path>
                    <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                    </g>
                </svg>
                <input
                    type="password"
                    required
                    placeholder="Password"
                    minlength="8"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    [(ngModel)]="newPassword"
                    name="newPassword"
                    class="input w-full"
                    title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
                />
                </label>
                <p class="validator-hint hidden">
                Must be more than 8 characters, including
                <br />At least one number <br />At least one lowercase letter <br />At least one uppercase letter
                </p>

            <label class="input validator">
                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2.5"
                    fill="none"
                    stroke="currentColor"
                    >
                    <path
                        d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
                    ></path>
                    <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                    </g>
                </svg>
                <input
                    type="password"
                    required
                    placeholder="Confirm password"
                    [(ngModel)]="confirmPassword"
                    name="confirmPassword"
                    class="input w-full"
                />
                </label>
                <p class="validator-hint hidden">
                Passwords don't match
                </p>

                <div class="join">
                    <button class="btn btn-link" (click)="cancel()">Cancel</button>
                    
                    <button class="btn btn-primary" type="submit" [disabled]="isBusy() || (changePasswordForm.invalid ?? false)">
                        <span [class.loading]="isBusy()" [class.loading-spinner]="isBusy()"></span>
                        Update
                    </button>
                </div>

            </fieldset>
        </form>
  

    }
</div>

