<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    
    <a class="btn btn-ghost text-xl">Program.X</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <!-- Apps -->
    <div role="tablist" class="tabs tabs-border">
        @if(loginService.currentUser()) {
            @for (application of loginService.currentUser()?.applications; track $index) {
                <a role="tab" class="tab" routerLink="{{ '/'+application.targetUrl }}" routerLinkActive="tab-active">{{ application.name}}</a>
            }
        } @else {
         
        }
    </div>

  </div>

  <div class="navbar-end">
        @if(loginService.currentUser()) {
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar bg-primary">
              @if (loginService.currentUser()?.profilePhotographSmall) {
                <div class="avatar">
                  <div class="w-8 rounded-full">
                    <img src="{{ loginService.currentUser()?.profilePhotographSmall }}" />
                  </div>
                </div>
              } @else if (loginService.currentUser()?.initials) {
              <div class="avatar avatar-placeholder">
                <div class="bg-neutral text-neutral-content w-9 rounded-full">
                  <span class="text-l">{{ loginService.currentUser()?.initials ?? '?' }}</span>
                </div>
              </div>
              }
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
              <li>
                <a class="justify-between" [routerLink]="['/update-profile', loginService.currentUser()?.userName ]">
                  Profile
                  <span class="badge">New</span>
                </a>
              </li>
              <li><a>Settings</a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </div>
        } @else {
            <button class="btn btn-primary" (click)="login()">Login</button>
        }

       
  </div>
 

</div>
